<%- include("../partials/header", {title: "post.title"}) %>
<%- include("../partials/navbar")%>
    <hr>
    <h1><%= post.title %></h1>
    <p><strong>Mã bài viết:</strong> <%= post.id %></p>
    <p><strong>Nội dung:</strong> <%= post.description %></p>
    <p><a href="/news">Quay lại danh sách</a></p> 
<%- include("../partials/footer")%>